:root {
    /* Primary Colors */
    --blue: hsl(223, 87%, 63%);

    /* Secondary Colors */
    --pale-blue: hsl(223, 100%, 88%);
    --light-red: hsl(354, 100%, 66%);

    /* Neutral */
    --gray: hsl(0, 0%, 59%);
    --very-dark-blue: hsl(209, 33%, 12%);
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: "Libre Franklin", Helvetica, sans-serif;
}

.attribution { 
    font-size: 11px; 

    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%) 
}