#main {
    width: 100%;
    height: 100vh;
}

#main,
#area-title
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    font-weight: 300;
    
    color: var(--gray);

    margin: 24px 0;
}

#title > strong {
    color: var(--very-dark-blue);
}

#form-notify {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 24px;
    margin-bottom: 48px;
}

#area-input {
    display: flex;
    flex-direction: column;
}

#input-email {
    width: 300px;

    border: 1px solid var(--gray-alpha);
    outline: none;

    padding: 16px;
    
    margin-right: 16px;

    transition: border 500ms;
}

#error-message-input {
    margin-top: 8px;
    margin-left: 24px;

    font-size: 10px;

    display: none;
}

#input-email::placeholder {
    color: var(--gray);
}

#form-notify > button,
#input-email
{
    border-radius: 40px;
}

#form-notify > button {
    background-color: var(--blue);
    color: var(--white);

    padding: 16px 48px;

    border: none;
    outline: none;

    font-weight: 700;

    box-shadow: 0px 5px 10px 2px var(--pale-blue);

    cursor: pointer;

    transition: filter 500ms;
}

#form-notify > button:hover {
    filter: brightness(1.2);
}

#illustration-dashboard {
    width: 500px;
}

#footer {
    flex-direction: column;
}

#footer,
.social-media,
#area-social-media
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media {
    margin-right: 20px;

    padding: 10px;

    border: 1px solid var(--pale-blue);
    border-radius: 100%;

    width: 32px;
    height: 32px;

    transition-property: transform, background-color;
    transition-duration: 500ms;
}

.social-media:last-of-type {
    margin-right: 0;
}

.social-media > .icon-media-social {
    width: 12px;
    height: 12px;
}

.social-media:hover {
    background-color: var(--blue);

    transform: scale(1.2);
}

.social-media:hover > #icon-facebook g {
    fill: #e3eafd;
}

.social-media:hover > #icon-twitter g {
    fill: #e3eafd;
}

.social-media:hover > #icon-instagram {
    stroke: #e3eafd;
}

#copyright {
    font-size: 12px;

    margin-top: 24px;

    color: var(--gray);
}

@media screen and (max-width: 552px) {
    #title {
        font-size: 24px;
    }

    #description {
        font-size: 15px;
    }
    
    #illustration-dashboard {
        width: 300px;
    }

    #form-notify {
        flex-direction: column;
    }

    #form-notify > button {
        width: 100%;
    }

    #area-input {
        margin-bottom: 16px;
    }
    
    #input-email {
        margin-right: 0;
    }

    #error-message-input {
        margin-left: 0;
        
        text-align: center;
    }
}